// ion-content {
//     --background: var(--ion-color-light);
//   }

.new{
	background-color: var(--red-b);
	border-radius: 10%;
	padding-left: 5px;
	padding-right: 5px;
	color: aliceblue;
}

.two{
  display:flex;
 justify-content: space-between;
}

.logo_img {
    .logo {
      margin-top: 10px;
      margin-left: 20px;
      img {
        width: 50px;
      }
    }
  }
  .search-icon {
    div {
      text-align: right;
      margin-right: 10px;
      margin-top: 15px;
      color: #a5a5a5;
      ion-icon {
        font-size: 21px;
      }
    }
  }
  .Category {
    display: flex;
    justify-content: space-between;
    .cate {
      margin-left: 10px;
  
      b {
        color: #f8a30e;
      }
    }
    .see {
      margin-right: 10px;
      color: #6a6c74;
    }
  }
  .Box_list_category {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .product_box {
      text-align: center;
      ion-card {
        border-radius: 50%;
      }
      display: inline-block;
      white-space: normal;
      .img_category {
        ion-img {
          width: 60px;
        }
      }
    }
  }
  
  //item product
  .Itemm {
    p {
      color: #f8a30e;
    }
  }
  .product-myitem {
    align-items: center;
  }
  .myitem {
    align-items: center;
  margin-left: 14px;
    img {
      width: 100%;
      height: 130px;
    }
    .Category_item {
      p {
        color: #f8a30e;
      }
    }
  
    //     }
  
   
  
  }


  .table_div{
    width: 100px; 
     padding: 7px;
  }

  .table{
  
    background-color: #cccccc;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.table_print{
  
  background-color: #6A140C;
  text-overflow: ellipsis;
  overflow: hidden;
  color: azure;
}

.table_activ{
  
    background-color: var(--primary);
    text-overflow: ellipsis;
    overflow: hidden;
    
}
  
  ion-content {
      --background: #f1f1f1 !important;
  }
  
  ion-list {
      background: var(--transparent) !important;
      margin: 0;
      padding: 0;
      padding-top: 10px;
  
      h2 {
          margin: 0;
          color: var(--transparent);
          font-size: 1.1rem;
          padding: 10px 20px 13px 20px;
          font-weight: 600;
      }
  
      ion-item {
          padding: 15px 20px 16px 20px;
          min-height: unset !important;
          --inner-padding-end: 0px;
          --inner-min-height: unset !important;
          --padding-start: 0;
          --highligh-color-focused: var(--transparent) !important;
          margin-bottom: 10px;
          background: var(--white);
          --background: var(--transparent);
  
          .item_inner {
              width: 100%;
              overflow: hidden;
  
              h3 {
                  margin: 0;
                  
                  font-size: 1.15rem;
                  font-weight: 500;
                  margin-bottom: 3px;
  
                  span {
                      &.item_title {
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          overflow: hidden;
                      }
  
                      &.end {
                          font-size: .95rem;
                          min-width: fit-content;
                          margin-left: 5px;
                      }
                  }
              }
  
              p {
                  margin: 0;
                  color: var(--text-light);
                  font-size: .8rem;
                  letter-spacing: .4px;
                  padding-bottom: 20px;
              }
  
              h4 {
                  margin: 0;
                  
                  font-size: .93rem;
                  font-weight: 400;
  
                  ion-icon {
                      min-width: 25px;
                      position: relative;
                      height: 15px;
                      display: block;
  
                      &::after {
                          content: '';
                          position: absolute;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                          background: var(--bg-color-secondary);
                          width: 4px;
                          height: 4px;
                          border-radius: 50%;
                          margin: auto;
                      }
                  }
  
                  span {
                      &.status {
                          font-weight: 600;
  
                          &.pending {
                              color: var(--text-light) ;
                          }
  
                          &.accepted {
                              color: var(--success);
                              font-weight: 500;
                          }
                      }
                  }
              }
          }
      }
  }
  
  
  
  
  
  
  