<ion-tabs>

  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="Table">
     
      <ion-icon name="storefront-sharp"></ion-icon>
       <!-- <ion-icon name="document"></ion-icon> -->
      <ion-label> ສັ່ງອາຫານ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="settings-sharp"></ion-icon>

      <!-- <ion-icon name="apps-sharp"></ion-icon> -->
      <ion-label>ຈັດການຂໍ້ມູນ</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="tab3">
      <ion-icon name="cart-sharp"></ion-icon>
      <ion-label>Card</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="Report-select">
     <ion-icon name="document"></ion-icon>
      <!-- <ion-icon name="person-sharp"></ion-icon> -->
      <ion-label>ລາຍງານ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
