<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
      <ion-grid>
          <ion-row>
            <ion-col class="back"  >
              <div (click)="dismiss()">
                ກັບຄືນ
              </div>
            </ion-col>
             
          </ion-row>
      </ion-grid>

    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
		<ion-row class=" ion-text-center">
			<ion-col >
				<h1 class="font"> ເພີ້ມອາຫານ </h1>
			</ion-col>
			
		</ion-row>
		<ion-row class=" ion-text-center">

			<ion-col size="12" >
				<ion-item>
					<ion-label mode="md" position="floating"> ຊື້ອາຫານ</ion-label>
					<ion-input mode="md" type="text"  (keyup)="keyname($event)" ></ion-input>
				</ion-item>
			</ion-col>

      <ion-col size="12" >
			
        <ion-item>
          <ion-label>ປະເພດອາຫານ</ion-label>
          <ion-select [(ngModel)]="category_id"  >
            <ion-select-option *ngFor="let item of Category_list" [value]="item.c_id">{{item.c_name}}</ion-select-option>
            
          </ion-select>
        </ion-item>
			</ion-col>

      <ion-col size="12" >
				<ion-item>
					<ion-label mode="md" position="floating"> ລາຄາ</ion-label>
					<ion-input mode="md" type="number"  (keyup)="keyprice($event)" ></ion-input>
				</ion-item>
			</ion-col>

      <ion-col size="12" >
				<ion-item>
					<ion-label mode="md" position="floating"> ລາຍລະອຽດ</ion-label>
          <ion-textarea rows="6" cols="20" (keyup)="keyfood_detell($event)" ></ion-textarea>
				</ion-item>
			</ion-col>
			
    </ion-row>
    
	</ion-card>

 
 
</ion-content>

<ion-footer class="ion-no-border">
	<ion-row >
		<ion-col size="12" >
			<ion-button col-12 size="large" shape="full" class="btn" (click)="save()" > ບັນທືກ </ion-button>
		</ion-col>
	
	</ion-row>
</ion-footer>