* {
    font-family: boonhom;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    img {
        width: 50px;
    }
}

.container {
    .logo_laoapp img {
        margin-top: 50px;
        width: 100px;
        height: 100px;
    }
    .name_app {
        display: flex;
        justify-content: center;
        h4 {
            font-family: boonhom;
            width: 300px;
            display: flex;
            flex-direction: row;
            color: #f8a30e;
        }
        h4:before,
        h4:after {
            content: "";
            flex: 1 1;
            border-bottom: 2px solid #f8a30e;
            margin: auto;
        }
    }
}

.container_from {
    position: relative;
    top: 30px;
}

ion-list {
    ion-item {
        padding-top: 10px;
        box-sizing: none;
        margin-left: 12px;
    }
    margin-right: 20px;
    h4 {
        font-size: 14px;
        color: #a31d4f;
    }
}

.btn_submit {
    position: relative;
    top: 26px;
    margin: 13px;
}