<ion-header class="ion-no-border">
    <ion-toolbar class="header">
        <div _ngcontent-gor-c7="" class="logo">
            <span>
            <!-- <img _ngcontent-gor-c7="" src="../../assets/imgs/logo.png" /> -->
        </span>
        </div>
        
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="login_logo">
        <div class="container">
            <div class="img_logo ion-text-center">
                <img src="../../assets/imgs/logo_f.jpeg" alt="" />
            </div>
            <div class="name_app">
                <h4 class="ion-text-center">&nbsp; &nbsp; {{username}} &nbsp;</h4>
            </div>
            <div class="buton ion-text-center">
               
                <ion-button class="btn_register" shape="round" color="tab" fill="outline" (click)="isLogout()">ອອກຈາກລະບົບ</ion-button>
            </div>
        </div>
    </section>
    <section class="container_list_menu ion-text-center">
        <div class="wappper_center_with_hight">

            <ion-row>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin" (click)="service()">
                        <ion-card-content>
                           
                            <!-- <ion-icon name="pricetag-sharp" color="primary"></ion-icon>  -->
                            <ion-icon name="person-sharp" color="tab"></ion-icon>
                            <br>
                           

                            <ion-label>
                                ບໍລິການ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin" (click)="menber()">
                        <ion-card-content>
                            
                           
                            <ion-icon name="people-sharp" color="tab"></ion-icon> <br>

                            <ion-label>
                                ສະມາຊິກ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-row>
            <ion-row>
                <div class="menu">
                    <ion-card class="menu-card ion-no-margin" (click)="manage()">
                        <ion-card-content>
                         
                            <ion-icon name="list-circle-sharp"  color="tab"></ion-icon> <br>
                            <!-- <ion-icon name="close-circle" color="primary"></ion-icon> <br> -->
                           
                            <ion-label>
                               ຈັດການຂໍ້ມູນ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>

                <div class="menu">
                    <ion-card class="menu-card ion-no-margin" (click)="report_select()" >
                        <ion-card-content>
                            <!-- <ion-icon name="person-sharp"></ion-icon> -->
                            <ion-icon name="document-sharp"  color="tab"></ion-icon>
                            <br>
                            <ion-label>
                                ລາຍງານ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div>
                
                <!-- <div class="menu">
                    <ion-card class="menu-card ion-no-margin"  (click)="report()" >
                        <ion-card-content>
                         
                            <ion-icon name="podium"  color="primary"></ion-icon> <br> 
                            <ion-label>
                                ລາຍງານ
                            </ion-label>
                        </ion-card-content>
                    </ion-card>
                </div> -->
               
            </ion-row>
            
        </div>

    </section>
</ion-content>