ion-header {
    --background: var(--red-b) !important;
    ion-title {
        font-size: 30px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
    img {
        width: 50px;
    }
}

.login_logo {
    margin-top: 20px;
}

.container {
    .img_logo img {
        width: 100px;
    }
    .name_app {
        display: flex;
        justify-content: center;
        h4 {
            font-family: boonhom;
            width: 300px;
            display: flex;
            flex-direction: row;
            color: #f8a30e;
        }
        h4:before,
        h4:after {
            content: "";
            flex: 1 1;
            border-bottom: 2px solid #f8a30e;
            margin: auto;
        }
    }
    .buton {
        margin-top: 20px;
        ion-button {
            font-family: boonhom;
        }
    }
}

// menu_list
.container_list_menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .menu {
        max-width: 50%;
        max-height: 50%;
        padding: 4px;
        ion-card {
            ion-label {
                font-family: boonhom;
            }
            width: 180px;
            ion-icon {
                font-size: 27px;
            }
        }
    }
}

// coputer screen
@media screen and (max-width: 1024px) {
    .menu-card {
        max-width: 235px;
        // color: rgb(82, 185, 78);
    }
}

//ipad  pro
@media screen and (max-width: 1024px) {
    .menu-card {
        max-width: 235px;
        // color: rgb(82, 185, 78);
    }
}

//ipad 
@media screen and (max-width: 768px) {
    .menu-card {
        max-width: 230px;
        // color: rgb(82, 185, 78);
    }
}

// surface duo
@media screen and (max-width: 540px) {
    .menu-card {
        max-width: 160px;
        // color: rgb(82, 185, 78);
    }
}

//iphone 6 7 8 plus
@media screen and (max-width: 414px) {
    .menu-card {
        max-width: 180px;
        // color: rgb(82, 185, 78);
    }
}

//iphone 6 7 8 10
@media screen and (max-width: 375px) {
    .menu-card {
        max-width: 160px;
        // color: rgb(197, 27, 27);
    }
}

//galaxy s5
@media screen and (max-width: 360px) {
    .menu-card {
        max-width: 150px;
        // color: rgb(101, 18, 168);
    }
}

//iphone 5
@media screen and (max-width: 320px) {
    .menu-card {
        max-width: 130px;
        // color: rgb(177, 150, 150);
    }
}

//gLxy fold
@media screen and (max-width: 280px) {
    .menu-card {
        max-width: 116px;
        // color: rgb(177, 150, 150);
    }
}