<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
      <ion-grid>
          <ion-row>
              <!-- <ion-col class="logo_img">
                  <div _ngcontent-gor-c7="" class="logo">
                      <img _ngcontent-gor-c7="" src="../../assets/imgs/logo.png" />
                  </div>
              </ion-col> -->

              <ion-col  size="10" class="logo_img">
               
            </ion-col>
              <ion-col size="2" class="search-icon">
                  <div>
                      <ion-icon name="close" (click)="dismiss()"></ion-icon>
                      
                  </div>
              </ion-col>
          </ion-row>

         
      </ion-grid>

     
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list lines="none"  >
    <ion-item  >
      <div class="item_inner">
        <h3 class="d-flex ">
            <span class="ion-text-center">  {{item.product_name}} </span>
        </h3>
        
      
      </div>
     
    </ion-item>
  </ion-list>

  
  <ion-card>
    <div class="items_details">
      <ion-row class=" ion-text-center">
        <ion-col>
          <p class="font">Quantity</p>
          <ion-row>
            <ion-col size="4">
              <h1 class="font ion-text-end" (click)="remove_qty()"> - </h1>
            </ion-col>
            <ion-col size="4">
              <h1 class="font">
                {{item.quantity | number}}
              </h1>
            </ion-col>
            <ion-col size="4">
              <h1 class="font ion-text-start" (click)="sum_qty()"> + </h1>
            </ion-col>
          </ion-row>

        </ion-col>

      </ion-row>

    </div>
  </ion-card>

 
 
</ion-content>
<ion-footer class="ion-no-border">
	

  <ion-row>
		
		<ion-col size="6">
			<ion-button size="large" shape="full" class="btn" (click)="edit()" >ບັນທືກ</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button size="large" shape="full" class="btn" (click)="delete()" >ລົບລາຍການ</ion-button>
		</ion-col>
	</ion-row>
	
</ion-footer>